.dataCard {
  position: relative;
  top: 1rem;
  height: 100%;
  width: calc(100% - 0.1rem);
  padding: 1rem 0.5rem;

  p {
    margin: 0;
    padding: 0.5rem 1rem;
  }
}

.header {
  display: flex;
  justify-content: center;

  button,
  p {
    padding: 0.25rem;
  }
}
