//ideal new layout instead my previous flex-layout!!!!!
.main {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  grid-area: header;
}

.mainContent {
  grid-area: main;
  overflow: auto;
  position: relative;
}

.footer {
  grid-area: footer;
}
