.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.topCardsContainer {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dataCard {
  padding: 20px;
}
